/* ReactFlow Edge Overrides */
.react-flow__edge-path {
    stroke: var(--color-connection-line) !important;
    stroke-width: 1px !important;
}


/* Specific class for completed edges to override the default */
.completed-edge .react-flow__edge-path {
    stroke: #FFD700 !important;
    stroke-width: 2.5px !important;
}

.react-flow__edge {
    pointer-events: all !important;
}

.react-flow__connection-path {
    stroke: var(--color-connection-line) !important;
    stroke-width: 1px !important;
}